---
DB_HOST: <REPLACE ME>
DB_PORT: <REPLACE ME>
DB_NAME: <REPLACE ME>
DB_USER: <REPLACE ME>
DB_PASS: <REPLACE ME>
DB_TYPE: <REPLACE ME>
ENDPOINT_ADDRESS: <REPLACE ME>
PORT: <REPLACE ME>
MASTER_USERNAME: <REPLACE ME>
MASTER_PASSWORD: <REPLACE ME>
